@import url(//fonts.googleapis.com/css?family=Lato:300:400);

body {
  margin:0;
}

div{
  font-family: 'Lato', sans-serif;
  font-weight:300;
  letter-spacing: 2px;
  font-size:18px;
  color: #333333;
}



h1 {
  font-family: 'Lato', sans-serif;
  font-weight:300;
  letter-spacing: 2px;
  font-size:48px;
}
h2 {
  font-family: 'Lato', sans-serif;
  font-weight:300;
  letter-spacing: 2px;
  font-size:36px;
}
p {
  font-family: 'Lato', sans-serif;
  letter-spacing: 1px;
  font-size:14px;
  color: #333333;
}

.header {
  /* Full height */
  height: 100%;

  scroll-behavior: smooth;
  /* Create the parallax scrolling effect */
  background-size: cover;
  position:relative;
  text-align:center;
  background: linear-gradient(60deg, #0092ca 0%, #eeeeee 100%) no-repeat fixed center;
  color:rgba(57, 62, 70,1);
}

.inner-header {
  height:90vh;
  width:98vw;
  margin: 0;
  padding: 0;
}

.flex { /*Flexbox for containers*/
  display: flex;
  justify-content: center;
  align-items: center;
  text-align: center;
}

.waves {
  position:relative;
  width: 100%;
  height:15vh;
  margin-bottom:-7px; /*Fix for safari gap*/
  min-height:100px;
  max-height:150px;
}

/* Animation */

.parallax > use {
  animation: move-forever 25s cubic-bezier(.55,.5,.45,.5)     infinite;
}
.parallax > use:nth-child(1) {
  animation-delay: -2s;
  animation-duration: 7s;
}
.parallax > use:nth-child(2) {
  animation-delay: -3s;
  animation-duration: 10s;
}
.parallax > use:nth-child(3) {
  animation-delay: -4s;
  animation-duration: 13s;
}
.parallax > use:nth-child(4) {
  animation-delay: -5s;
  animation-duration: 20s;
}
@keyframes move-forever {
  0% {
    transform: translate3d(-90px,0,0);
  }
  100% {
    transform: translate3d(85px,0,0);
  }
}

@media (max-width: 768px) {
  .waves {
    height:40px;
    min-height:40px;
  }
  .content {
    height:30vh;
  }
  h1 {
    font-size:24px;
  }
}


.veritcalTimeLine{
  box-shadow: #0092ca 0px 3px 8px;
  margin-top: 90%;
  width: 6px;
  height: 150%;
  background-color: rgba(0, 146, 202, 0.64);
}

.BlockDiplome{
  height: 21%;
  position: relative;
  top: -26px;
  left: -35px;

}

.Diplome{
  width: 80px;
  height: 80px;
  background-color: #0092ca;
  border-radius: 50%;
  box-shadow: 0 0 0 4px #7CC2DD, inset 0 6px 0 rgba(0, 0, 0, 0.25), 0 3px 0 4px rgba(0, 146, 202, 0.53);
}

#cursor{
  box-shadow: #0092ca 0px 3px 8px;
  border: 1px solid #0092ca;
  margin-top: -1px;
  z-index: 2;
  position:absolute;
  height:35px;
  width:35px;
  border-radius:50%;
  animation: pulse-cursor 2s infinite;
  transition-delay: 6s;
  transition: border 500ms linear ,  width 0.3s ease, height 0.3s ease, top 0.01s,left 0.01s ;
  transform: translateX(-50%) translateY(-50%);
}

#cursorTrail{
  margin-top: -1px;
  z-index: 2;
  position:absolute;
  height:35px;
  width:35px;
  border-radius:50%;
  box-shadow: 0 0 0 0 rgba(255, 255, 255, 1);
  animation: pulse-cursor 2s infinite;
  transition-delay: 6s;
  transition: background-color 500ms linear ,  width 0.3s ease, height 0.3s ease, top 0.05s,left 0.05s ;
  transform: translateX(-50%) translateY(-50%);
}
#cursorTraill{
  margin-top: -1px;
  z-index: 2;
  position:absolute;
  height:35px;
  width:35px;
  border-radius:50%;
  box-shadow: 0 0 0 0 rgba(255, 255, 255, 1);
  animation: pulse-cursor 2s infinite;
  transition-delay: 6s;
  transition: background-color 500ms linear ,  width 0.3s ease, height 0.3s ease, top 0.06s,left 0.06s ;
  transform: translateX(-50%) translateY(-50%);
}

.DiplomeImg{
  border-color: white;
  display: block;
  width: 60px;
  height: 40px;
  position: relative;
  left: 27%;
  top: 25%;
  margin-left: -12px;
  margin-top: -12px;
}

.DiplomeContentL{
  box-shadow: #0092ca 0px 3px 8px;
  z-index: 5;
  position: relative;
  top: 0;
  left: -400px;
  width: 300px;
  height: 25%;
  border-radius:0px 0px 10px 10px ;
  background-color: #7CC2DD;
}

.DiplomeContentL:hover{
  border-style: solid;
  border-color: #0092ca;
  left: -506px;
  width: 400px;
  height: 135%;
  transition: width 0.3s cubic-bezier(0,1,0,1), height 0.3s ease;
}

.DiplomeContentR{
  box-shadow: #0092ca 0px 3px 8px;
  z-index: 5;
  position: relative;
  top: 0;
  left: 200px;
  width: 300px;
  height: 25%;
  border-radius:0px 0px 10px 10px ;
  background-color: #7CC2DD;
}


.DiplomeContentR:hover{
  border-style: solid;
  border-color: #0092ca;
  width: 400px;
  height: 135%;
  transition: width 0.3s ease, height 0.3s ease;
}

.dateR{
  color: white;
  box-shadow: #0092ca 0px 3px 8px;
  position: relative;
  top: 0;
  left: 200px;
  width: 300px;
  height: 15%;
  border-radius:10px 10px 0px 0px ;
  border: 1px solid #0092ca;
}

.dateL{
  color: white;
  position: relative;
  top: 0;
  left: -400px;
  width: 300px;
  height: 15%;
  border-radius:10px 10px 0px 0px ;
  border: 1px solid #0092ca;
}

.col{
flex-basis: 0;
  flex-grow: 1;
  max-width: 100%;
}

@keyframes pulse-cursor {
  0% {
    transform: scale(0.95);
    box-shadow: 0 0 0 0 rgb(0, 218, 255);
  }

  70% {
    transform: scale(1);
    box-shadow: 0 0 0 10px rgba(0, 0, 0, 0);
  }

  100% {
    transform: scale(0.95);
    box-shadow: 0 0 0 0 rgba(0, 0, 0, 0);
  }
}


.lebelFormulaire{
  margin-top: 2%;
  box-shadow: #0092ca 0px 3px 8px;
  border: 1px solid #0092ca;
  margin-left: 10%;
  margin-right: 10%;
  float: left;
  width:30%;
  height: 5vh;
  border-radius:10px;
}

.gauche{
  color: white;
  box-shadow: #0092ca 0px 3px 8px;
  border: 1px solid #0092ca;
  margin-left: 10%;
  margin-right: 10%;
  float: left;
  width:30%;
  height: 56vh;
  border-radius:10px;
}
.droite{
  box-shadow: #0092ca 0px 3px 8px;
  margin-right: 10%;
  float: right;
  height: 56vh;
  width:30%;
  border: 1px solid #0092ca;
  border-radius:10px;
}
.gaucheh{
  color: white;
  box-shadow: #0092ca 0px 3px 8px;
  border: 1px solid #0092ca;
  margin-top: 2%;
  margin-bottom: 3%;
  margin-left: 10%;
  margin-right: 10%;
  float: left;
  width:30%;
  height: 20vh;
  border-radius:10px;
}
.droiteh{
  color: white;
  margin-top: 2%;
  margin-bottom: 3%;
  box-shadow: #0092ca 0px 3px 8px;
  margin-right: 10%;
  float: right;
  height: 20vh;
  width:30%;
  border: 1px solid #0092ca;
  border-radius:10px;
}
.hobby{

  color: white;
  box-shadow: #0092ca 0px 3px 8px;
  border: 1px solid #0092ca;
  margin-left: 10%;
  margin-right: 10%;
  float: left;
  width:80%;
  height: 56vh;
  border-radius:10px;
}

.box{

  background-color:rgba(57, 62, 70,1);
  height: 100vh;
}

.ProjetBox{
  font-size: 28px;
  text-align: center;
  color: #ffffff;
  background-color: rgba(0, 146, 202, 0.3);
  margin-top: 2%;box-shadow: rgba(0, 0, 0, 0.1) 0px 4px 12px;
  height: 15vh;
  margin-right: 2%;
  margin-left: 2%;
  border-radius:10px;
  transition:  border 0.5s ease;

}


.ProjetBox:hover{
  border: 1px solid #0092ca;

}

.ratioboutonR{
  color: #0092ca;
  margin-left: 97%;
  box-shadow: #0092ca 0px 3px 8px;
  border: 1px solid #0092ca;
  background-color: #393E46;
  margin-top: -1px;
  position:relative;
  top: 26vh;
  height:55px;
  width:55px;
  border-radius:50%;
}
.ratioboutonL{
  color: #0092ca;
  float: left;
  box-shadow: #0092ca 0px 3px 8px;
  border: 1px solid #0092ca;
  background-color: #393E46;
  margin-top: -1px;
  right: 35px;
  position:relative;
  top: 26vh;
  height:55px;
  width:55px;
  border-radius:50%;

}

.TitreDuText{
  color: #eeeeee;
  text-align: center;
}

.Pgrph{
  color: #eeeeee;
  text-align: center;
}

.arrowR{
  fill: #0092ca;
  font-size: 20px;
  padding-left: 15px;
  padding-bottom: 1px;
  margin-bottom: 21px;
  padding-top: -8px;
  margin-top: 17px;

}
.arrowL{
  fill: #0092ca;
  font-size: 20px;
  padding-left: 10px;
  padding-bottom: 1px;
  margin-bottom: 21px;
  padding-top: -8px;
  margin-top: 17px;

}

.module{
  scroll-behavior: smooth;
}

.saxophone{

  height: 17vh;
padding-top: 12px;
  padding-left: 12px;
}

.logoTechno{

  height: 5vh;
  padding-top: 12px;
}
.textPic{
  font-size: 28px;
  float: right;
  padding-right: 20%;
  color: white;
}

.buttomDiv{

  position: relative;
  bottom: -250px;
  margin: 0 auto;
}

.indiceGreen{
  border-radius: 50%;
  background-color: rgba(114,255,20,0.7);
  width: 10px ;
  height: 10px;
  position: relative;
  text-align: center;
}


.indiceOrange{
  border-radius: 50%;
  background-color: rgb(246, 111, 52);
  width: 10px ;
  height: 10px;
  position: relative;
  text-align: center;
}

.indiceRed{
  border-radius: 50%;
  background-color: rgb(255, 0, 39);
  width: 10px ;
  height: 10px;
  position: relative;
  text-align: center;
}
/*--------------------------------------------------------------------------------------------*/


a {
  font-family: 'Lato', sans-serif;
  font-weight:300;
  letter-spacing: 2px;
  font-size:18px;
}

.sidenav {
  height: 100%;
  width: 0;
  position: fixed;
  z-index: 1;
  top: 0;
  right: 0;
  background-color: #111;
  overflow-x: hidden;
  transition: 0.5s;
  padding-top: 60px;
}

.form-style {
  padding-top: 2%;
  padding-left: 2%;
}

.margin{
  margin-right: auto;
  margin-left: 0;
  float:right;
}

.dot {
  position: absolute;
  margin-left: 20%;
  margin-right: 20%;
  height: 100px;
  width: 100px;
  background-color: #bbb;
  border-radius: 50%;
  display: inline-block;
}

.font-color {
  color : #444444 !important
}
.sidenav a {
  font-family: 'rubikregular', Arial, sans-serif;
  padding: 8px 8px 8px 32px;
  text-decoration: none;
  font-size: 22px;
  color: #818181;
  display: block;
}

.sidenav a:hover {
  color: #f1f1f1;
}

.sidenav .closebtn {
  position: absolute;
  top: 0;
  right: 25px;
  font-size: 36px;
  margin-left: 50px;
}

.navbar-toggler {
  font-size:30px;
  cursor: pointer;
}

.closebtn {
  cursor: pointer;
}

.divider {
  height: 1px;
  margin: 7px 30px 7px 33px;
  overflow: hidden;
  background-color: #818181;
  box-shadow: 1px 3px 10px #818181;
}

#innernav{
  width: 100%;
  height: 100%;
  overflow-y: scroll;
  padding-right: 17px;
  box-sizing: content-box;
}

@media screen and (max-width: 1280px) {
  #mySidenav {
    background-color: #1C2331;
  }
}

@media (min-width: 800px) and (max-width: 850px) {
  .navbar:not(.top-nav-collapse) {
    background: #1C2331!important;
  }
}

.view,body,html{
  height:100%
}

.navbar{
  background : linear-gradient(to left, rgba(255, 255, 255, 0), rgba(255, 255, 255, 0) 10% );
  box-shadow: rgba(0, 0, 0, 0.1) 0px 4px 12px;
}



@media only screen and (max-width:991px) {
  .navbar{background-color:#1C2331}
}

.font{
  background: #383CA5;
  background: -webkit-linear-gradient(to right, #383CA5 0%, #00D4FF 60%);
  background: -moz-linear-gradient(to right, #383CA5 0%, #00D4FF 60%);
  background: linear-gradient(to right, #383CA5 0%, #00D4FF 60%);
  font-family: "Quantum", Arial, Helvetica, sans-serif;
  font-size: 55px;
  padding-right: 50px;
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
}






.flexbox {
  width: 100%;
  height: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
}

.search {
  margin: 20px;
}

.search > h3 {
  font-weight: normal;
}

.search > h1,
.search > h3 {
  color : #444444;
  margin-bottom: 15px;
  text-shadow: 0 1px #444444;
}

.search > div {
  display: inline-block;
  position: relative;
  filter: drop-shadow(0 1px#444444);
}

.search > div:after {
  content: "";
  background: rgba(119, 119, 119, 0.47);
  width: 4px;
  height: 20px;
  position: absolute;
  top: 40px;
  right: 0px;
  transform: rotate(135deg);
}

.search > div > input {
  color : #444444;
  font-size: 16px;
  width: 25px;
  height: 25px;
  padding: 10px;
  border: solid 1px #444444;
  outline: none;
  border-radius: 35px;
  transition: width 0.5s;
}

.search > div > input::placeholder {
  color : #444444;
  opacity: 0;
  transition: opacity 150ms ease-out;
}

.search > div > input:focus::placeholder {
  opacity: 1;
}

.search > div > input:focus,
.search > div > input:not(:placeholder-shown) {
  width: 250px;
}
















.navCustome {
  z-index: 10000;
  background-color: rgba(129, 129, 129, 0);
  box-shadow: 1px 3px 10px #818181;
  width: 100%;
  height: 75px;
  position: fixed;
  line-height: 65px;
  text-align: center;
}

.navCustome div.logo {
  float: left;
  width: auto;
  height: auto;
  padding-left: 3rem;
}

.navCustome div.logo a {
  font-family: "Quantum", Arial, Helvetica, sans-serif;
  text-decoration: none;
  color: #444444;
  font-size: 2.0rem;
}

.navCustome div.logo a:hover {
  transition: all 0.4s ease;
  color: #383CA5;
  background: #383CA5;
  background: -webkit-linear-gradient(to right, #383CA5 0%, #00D4FF 60%);
  background: -moz-linear-gradient(to right, #383CA5 0%, #00D4FF 60%);
  background: linear-gradient(to right, #383CA5 0%, #00D4FF 60%);
  font-family: "Quantum", Arial, Helvetica, sans-serif;
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
}

.navCustome div.main_list {
  height: 60px;
  float: right;
}

.navCustome div.main_list ul {
  width: 100%;
  height: 65px;
  display: flex;
  list-style: none;
  margin: 0;
  padding: 0;
}

.logoGOelan{
  height: 150px;
  width: 150px;
  padding-top: -80px;
  padding-bottom: 0px;
  margin-bottom: -27px;
  margin-top: -40px;
}

.navCustome div.main_list ul li {
  width: auto;
  height: 65px;
  padding: 2px;
  padding-right: 3rem;
}

.navCustome div.main_list ul li a {
  text-decoration: none;
  color: #444444;
  line-height: 65px;
  font-size: 1.2rem;
}

.navCustome div.main_list ul li a:hover {
  color: #383CA5;
}


/* Home section */

.navTrigger {
  display: none;
}

.navCustome {
  padding-top: 5px;
  padding-bottom: 20px;
  -webkit-transition: all 0.4s ease;
  transition: all 0.4s ease;
}


/* Media qurey section */

@media screen and (min-width: 768px) and (max-width: 1024px) {
  .containercustome {
    margin: 0;
  }
}

@media screen and (max-width:768px) {
  .navTrigger {
    display: block;
  }
  .navCustome div.logo {
    margin-left: 15px;
  }
  .navCustome div.main_list {
    width: 100%;
    height: 0;
    overflow: hidden;
  }
  .navCustome div.show_list {
    height: auto;
    -webkit-transition: all 0.4s ease;
  }
  .navCustome div.main_list ul {
    flex-direction: column;
    width: 100%;
    height: 100vh;
    right: 0;
    left: 0;
    bottom: 0;
    background-color: #EFF6FF;
    /*same background color of navbar*/
    background-position: center top;
  }
  .navCustome div.main_list ul li {
    width: 100%;
    text-align: center;
  }
  .navCustome div.main_list ul li a {
    text-align: center;
    width: 100%;
    font-size: 1rem;
    padding: 20px;
  }
  .navCustome div.media_button {
    display: block;
  }
}


/* Animation */
/* Inspiration taken from Dicson https://codemyui.com/simple-hamburger-menu-x-mark-animation/ */

.navTrigger {
  cursor: pointer;
  width: 30px;
  height: 25px;
  margin: auto;
  position: absolute;
  right: 30px;
  top: 0;
  bottom: 0;
}

.navTrigger i {
  background-color: #fff;
  border-radius: 2px;
  content: '';
  display: block;
  width: 100%;
  height: 4px;
}

.navTrigger i:nth-child(1) {
  -webkit-animation: outT 0.8s backwards;
  animation: outT 0.8s backwards;
  -webkit-animation-direction: reverse;
  animation-direction: reverse;
}

.navTrigger i:nth-child(2) {
  margin: 5px 0;
  -webkit-animation: outM 0.8s backwards;
  animation: outM 0.8s backwards;
  -webkit-animation-direction: reverse;
  animation-direction: reverse;
}

.navTrigger i:nth-child(3) {
  -webkit-animation: outBtm 0.8s backwards;
  animation: outBtm 0.8s backwards;
  -webkit-animation-direction: reverse;
  animation-direction: reverse;
}

.navTrigger.active i:nth-child(1) {
  -webkit-animation: inT 0.8s forwards;
  animation: inT 0.8s forwards;
}

.navTrigger.active i:nth-child(2) {
  -webkit-animation: inM 0.8s forwards;
  animation: inM 0.8s forwards;
}

.navTrigger.active i:nth-child(3) {
  -webkit-animation: inBtm 0.8s forwards;
  animation: inBtm 0.8s forwards;
}

@-webkit-keyframes inM {
  50% {
    -webkit-transform: rotate(0deg);
  }
  100% {
    -webkit-transform: rotate(45deg);
  }
}

@keyframes inM {
  50% {
    transform: rotate(0deg);
  }
  100% {
    transform: rotate(45deg);
  }
}

@-webkit-keyframes outM {
  50% {
    -webkit-transform: rotate(0deg);
  }
  100% {
    -webkit-transform: rotate(45deg);
  }
}

@keyframes outM {
  50% {
    transform: rotate(0deg);
  }
  100% {
    transform: rotate(45deg);
  }
}

@-webkit-keyframes inT {
  0% {
    -webkit-transform: translateY(0px) rotate(0deg);
  }
  50% {
    -webkit-transform: translateY(9px) rotate(0deg);
  }
  100% {
    -webkit-transform: translateY(9px) rotate(135deg);
  }
}

@keyframes inT {
  0% {
    transform: translateY(0px) rotate(0deg);
  }
  50% {
    transform: translateY(9px) rotate(0deg);
  }
  100% {
    transform: translateY(9px) rotate(135deg);
  }
}

@-webkit-keyframes outT {
  0% {
    -webkit-transform: translateY(0px) rotate(0deg);
  }
  50% {
    -webkit-transform: translateY(9px) rotate(0deg);
  }
  100% {
    -webkit-transform: translateY(9px) rotate(135deg);
  }
}

@keyframes outT {
  0% {
    transform: translateY(0px) rotate(0deg);
  }
  50% {
    transform: translateY(9px) rotate(0deg);
  }
  100% {
    transform: translateY(9px) rotate(135deg);
  }
}

@-webkit-keyframes inBtm {
  0% {
    -webkit-transform: translateY(0px) rotate(0deg);
  }
  50% {
    -webkit-transform: translateY(-9px) rotate(0deg);
  }
  100% {
    -webkit-transform: translateY(-9px) rotate(135deg);
  }
}

@keyframes inBtm {
  0% {
    transform: translateY(0px) rotate(0deg);
  }
  50% {
    transform: translateY(-9px) rotate(0deg);
  }
  100% {
    transform: translateY(-9px) rotate(135deg);
  }
}

@-webkit-keyframes outBtm {
  0% {
    -webkit-transform: translateY(0px) rotate(0deg);
  }
  50% {
    -webkit-transform: translateY(-9px) rotate(0deg);
  }
  100% {
    -webkit-transform: translateY(-9px) rotate(135deg);
  }
}

@keyframes outBtm {
  0% {
    transform: translateY(0px) rotate(0deg);
  }
  50% {
    transform: translateY(-9px) rotate(0deg);
  }
  100% {
    transform: translateY(-9px) rotate(135deg);
  }
}

.affix {
  padding: 0;
  background-color: rgba(239, 246, 255, 0.80);
}






.myH2 {
  text-align:center;
  font-size: 4rem;
}
.myP {
  text-align: justify;
  padding-left:15%;
  padding-right:15%;
  font-size: 20px;
}
@media all and (max-width:700px){
  .myP {
    padding:2%;
  }
}



