
     <!-- <form class="form-style" [formGroup]="formVar">
        <div >
          <div class="input-group mb-3">
            <input (keyup.enter)="getBySearch()" class="form-control" type="text" id=" " style="height: 30px" formControlName="searchBar" placeholder="Formation...">
            <div class="input-group-append">
              <button class="btn" style="background-color : #556aea  ; height: 30px;padding-top: 1px" type="button" (click)="getBySearch()"  >Rechercher </button>
            </div>
          </div></div>

      </form> -->


<nav class="navCustome " [ngClass]="scroll ? 'affix' : ''">
  <div class="containercustome">
    <div class="logo">
    <!--  <a class="" routerLinkActive="active" routerLink="">
       GOELAN
      </a>-->
    </div>
    <div id="mainListDiv" class="main_list"  >
      <!--   <ul class="">
        <li><a routerLinkActive="active" routerLink="">Accueil</a></li>
        <li><a routerLinkActive="active" routerLink="orientation">Parcours</a></li>
        <li><a routerLinkActive="active" routerLink="presentation">Projet</a></li>
        <li><a routerLinkActive="active" routerLink="favoris">Hobby</a>
        </li>
      </ul>
       </a>-->
    </div>
    <span class="navTrigger" >
                <i></i>
                <i></i>
                <i></i>
            </span>
  </div>
</nav>

